<?xml version='1.0' encoding='utf-8'?>
<plugin id="outsystems-plugin-streambow" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>outsystems-plugin-streambow</name>
	<js-module name="Streambow" src="www/outsystems-plugin-streambow.js">
		<clobbers target="Streambow" />
	</js-module>
	<platform name="ios">
		<!-- Hooks for Swift Support -->
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
		<hook type="after_plugin_add" src="hooks/add_swift_support.js" />

		<!-- iOS Source & Header Files -->
		<source-file src="src/ios/Streambow.swift" />
		<source-file src="src/ios/AppDelegate+Streambow.m" />
		<header-file src="src/ios/AppDelegate+Streambow.h" />

		<!-- Streambow SDK -->
		<framework src="src/ios/FeedbackFramework.xcframework/ios-arm64/FeedbackFramework.framework" custom="true" embed= "true"/>

		<!-- Cocoapods dependency -->
	    <podspec>
	      <config>
		<source url="https://github.com/apple/swift-protobuf.git" /> 
	      </config>
	      <pods use-frameworks="true">
	        <pod name="SwiftProtobuf" spec="~> 1.15" />
	      </pods>
	    </podspec>		

	    <!-- Background Modes -->
	    <config-file target="*-Info.plist" parent="UIBackgroundModes">
				<array>
					<string>bluetooth-central</string>
					<string>fetch</string>
					<string>location</string>
					<string>processing</string>
				</array>
		</config-file>

		<!-- Arbitrary Loads -->
		<config-file target="*-Info.plist" parent="NSAppTransportSecurity">
				<dict>
					<key>NSAllowsArbitraryLoads</key>
					<true/>
				</dict>
		</config-file>

		<!-- Location Permissions -->
		<config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
				<string>Please allow the use of your location to improve network diagnostics.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
				<string>Please allow the use of your location to improve network diagnostics.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
				<string>Please allow the use of your location to improve network diagnostics.</string>
		</config-file>

		<!-- Background Tasks Identifiers -->
		<config-file target="*-Info.plist" parent="BGTaskSchedulerPermittedIdentifiers">
			<array>
				<string>BackgroundAppRefreshIdentifier</string>
				<string>BackgroundProcessingIdentifier</string>
			</array>
		</config-file>

		<config-file parent="/*" target="config.xml">
			<feature name="Streambow">
				<param name="ios-package" value="Streambow" />
			</feature>
		</config-file>
	</platform>

	<platform name="android">

		 <config-file target="../../config.xml" parent="/widget">
            <custom-preference name="android-manifest/@xmlns:tools" value="http://schemas.android.com/tools" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>		

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:exported="false" android:name="com.streambow.xperience.auth.XPerienceAuthenticatorService" tools:node="merge" />
			<receiver android:exported="false" android:name="com.streambow.xperience.receivers.UninstallBroadcastReceiver" tools:node="merge" />
			<receiver android:exported="false" android:name="com.streambow.xperience.receivers.LauncherAndroidBroadcastReceiver" tools:node="merge" />
			<receiver android:exported="false" android:name="com.streambow.xperience.receivers.ShutdownBroadcastReceiver" tools:node="merge" />
			<receiver android:exported="false" android:name="com.streambow.xperience.receivers.BroadcastReceiverServiceCallsAccess" tools:node="merge" />
			<receiver android:exported="false" android:name="com.streambow.xperience.receivers.BroadcastReceiverServiceModeAccess" tools:node="merge" />
		</config-file>

		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Streambow">
				<param name="android-package" value="com.streambow.Streambow" />
			</feature>
		</config-file>

		<!-- <config-file parent="/*" target="AndroidManifest.xml"></config-file> -->
		<source-file src="src/android/Streambow.java" target-dir="src/com/streambow" />
		<!--<framework src="src/android/Streambow.gradle" custom="true" type="gradleReference" /> -->
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<source-file src="src/android/build-extras.gradle" target-dir="app" />

		<!-- Streambow SDK -->
		<!-- <resource-file src="src/android/lib/XperienceLib-serverNos-App-release.aar" target="libs/XperienceLib-serverNos-App-release.aar" /> -->
		<!--<resource-file src="src/android/libs/XperienceLib.aar" target="libs/XperienceLib.aar" />-->
		<source-file src="src/android/libs/XperienceLib.aar" target-dir="libs" /> 

		<!-- Hook for editing settings.gradle -->
		<hook type="before_plugin_install" src="hooks/edit_settings_gradle.js"/>
		<hook type="before_plugin_install" src="hooks/edit_gradle_properties.js"/>
		<hook type="after_plugin_install" src="hooks/move_sdk.js"/>
		<!--<hook type="before_plugin_install" src="hooks/copy_gradle_extras.js"/> -->

		<dependency id="cordova-custom-config" version="^5.1.1" />
	</platform>

	
</plugin>
